/ Side-by-side diff view
%div.text-file.diff-wrap-lines.code.file-content.js-syntax-highlight
  %table
    - diff_file.parallel_diff_lines.each do |line|
      - left = line[:left]
      - right = line[:right]
      %tr.line_holder.parallel
        - if left[:type] == 'match'
          = render "projects/diffs/match_line_parallel", { line: left[:text],
          line_old: left[:number], line_new: right[:number] }
        - elsif left[:type] == 'nonewline'
          %td.old_line.diff-line-num
          %td.line_content.parallel.match= left[:text]
          %td.new_line.diff-line-num
          %td.line_content.parallel.match= left[:text]
        - else
          %td.old_line.diff-line-num{id: left[:line_code], class: "#{left[:type]} #{'empty-cell' if !left[:number]}"}
            = link_to raw(left[:number]), "##{left[:line_code]}", id: left[:line_code]
            - if @comments_allowed && can?(current_user, :create_note, @project)
              = link_to_new_diff_note(left[:line_code], 'old')
          %td.line_content{class: "parallel noteable_line #{left[:type]} #{left[:line_code]} #{'empty-cell' if left[:text].empty?}", data: { line_code: left[:line_code] }}= diff_line_content(left[:text])

          - if right[:type] == 'new'
            - new_line_class = 'new'
            - new_line_code = right[:line_code]
          - else
            - new_line_class = nil
            - new_line_code = left[:line_code]

          %td.new_line.diff-line-num{id: new_line_code, class: "#{new_line_class} #{'empty-cell' if !right[:number]}", data: { linenumber: right[:number] }}
            = link_to raw(right[:number]), "##{new_line_code}", id: new_line_code
            - if @comments_allowed && can?(current_user, :create_note, @project)
              = link_to_new_diff_note(right[:line_code], 'new')
          %td.line_content.parallel{class: "noteable_line #{new_line_class} #{new_line_code} #{'empty-cell' if right[:text].empty?}", data: { line_code: new_line_code }}= diff_line_content(right[:text])

      - if @reply_allowed
        - comments_left, comments_right = organize_comments(left[:type], right[:type], left[:line_code], right[:line_code])
        - if comments_left.present? || comments_right.present?
          = render "projects/notes/diff_notes_with_reply_parallel", notes_left: comments_left, notes_right: comments_right

- if diff_file.diff.diff.blank? && diff_file.mode_changed?
  .file-mode-changed
    文件模式已改变
