- page_title "服务"
%h3.page-title 项目服务
%p.light 项目服务用于集成其他应用

.table-holder
  %table.table
    %thead
      %tr
        %th
        %th 服务
        %th 描述
        %th 最后编辑
    - @services.sort_by(&:title).each do |service|
      %tr
        %td
          = boolean_to_icon service.activated?
        %td
          = link_to edit_namespace_project_service_path(@project.namespace, @project, service.to_param) do
            %strong= service.title
        %td
          = service.description
        %td.light
          = time_ago_in_words service.updated_at
          前
