.detail-page-header
  .snippet-box.has-tooltip{class: visibility_level_color(@snippet.visibility_level), title: snippet_visibility_level_description(@snippet.visibility_level, @snippet), data: { container: 'body' }}
    = visibility_level_icon(@snippet.visibility_level, fw: false)
    = visibility_level_label(@snippet.visibility_level)
  %span.identifier
    代码片段 ##{@snippet.id}
  %span.creator
    &middot; 由 #{link_to_member(@project, @snippet.author, size: 24)} 创建于
    &middot;
    = time_ago_with_tooltip(@snippet.created_at, placement: 'bottom', html_class: 'snippet_updated_ago')
    - if @snippet.updated_at != @snippet.created_at
      %span
        &middot;
        = icon('edit', title: '编辑时间')
        = time_ago_with_tooltip(@snippet.updated_at, placement: 'bottom', html_class: 'snippet_edited_ago')

  .pull-right
    - if @snippet.project_id?
      = render "projects/snippets/actions"
    - else
      = render "snippets/actions"

.detail-page-description.gray-content-block.second-block
  %h2.title
    = markdown escape_once(@snippet.title), pipeline: :single_line
