- page_title "登录历史"
- header_title page_title, audit_log_profile_path

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h3.prepend-top-0
      = page_title
    %p
      这是涉及您帐户安全的重要事件记录。
  .col-lg-9
    = render 'event_table', events: @events
