- page_title "派生项目"
- if @namespaces.present?
  %h3.page-title 派生项目
  %p.lead
    点击派生项目到用户或群组
  %hr

  .fork-namespaces
    - @namespaces.in_groups_of(6, false) do |group|
      .row
        - group.each do |namespace|
          .col-md-2.col-sm-3
            - if fork = namespace.find_fork_of(@project)
              .fork-thumbnail
                = link_to project_path(fork), title: "查看项目派生", class: 'has-tooltip' do
                  = image_tag namespace_icon(namespace, 100)
                  .caption
                    %strong
                      = namespace.human_name
                    %div.text-primary
                      已派生

            - else
              .fork-thumbnail
                = link_to namespace_project_forks_path(@project.namespace, @project, namespace_key: namespace.id), title: "派生", method: "POST", class: 'has-tooltip' do
                  = image_tag namespace_icon(namespace, 100)
                  .caption
                    %strong
                      = namespace.human_name

    %p.light
      派生是创建项目仓库的副本。
      %br
      派生的仓库允许你在不影响原有项目的情况下修改新内容。
- else
  %h3 没有可用的命名空间来派生项目
  %p.slead
    在派生前，你必须拥有在命名空间中创建项目的权限。

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      正在派生仓库
    %p 请稍后，本页面将在准备好后自动刷新。
