.dropdown.inline
  %button.dropdown-toggle.btn.btn-sm{type: 'button', 'data-toggle' => 'dropdown'}
    %span.light 群组：
    - if @group.present?
      %strong= @group.name
    - else
      任何
    %b.caret
  .dropdown-menu.dropdown-select.dropdown-menu-selectable
    .dropdown-title
      %span 按群组过滤的结果
      %button.dropdown-title-button.dropdown-menu-close{aria: {label: "Close"}}
        = icon('times')
    .dropdown-content
      %ul
        %li
          = link_to search_filter_path(group_id: nil), class: ("is-active" if !params[:group_id].present?) do
            任何
        %li.divider
        - current_user.authorized_groups.sort_by(&:name).each do |group|
          %li
            = link_to search_filter_path(group_id: group.id, project_id: nil), class: ("is-active" if params[:group_id] == group.id.to_s) do
              = group.name

.dropdown.inline.prepend-left-10.project-filter
  %button.dropdown-toggle.btn.btn-sm{type: 'button', 'data-toggle' => 'dropdown'}
    %span.light 项目：
    - if @project.present?
      %strong= @project.name_with_namespace
    - else
      任何
    %b.caret
  .dropdown-menu.dropdown-select.dropdown-menu-selectable
    .dropdown-title
      %span 按项目过滤的结果
      %button.dropdown-title-button.dropdown-menu-close{aria: {label: "Close"}}
        = icon('times')
    .dropdown-content
      %ul
        %li
          = link_to search_filter_path(project_id: nil), class: ("is-active" if !params[:project_id].present?) do
            任何
        %li.divider
        - current_user.authorized_projects.sort_by(&:name_with_namespace).each do |project|
          %li
            = link_to search_filter_path(project_id: project.id, group_id: nil), class: ("is-active" if params[:project_id] == project.id.to_s) do
              = project.name_with_namespace
