= form_for [@project.namespace.becomes(Namespace), @project, @note], remote: true, html: { :'data-type' => 'json', multipart: true, id: nil, class: "new-note js-new-note-form js-quick-submit common-note-form" }, authenticity_token: true do |f|
  = hidden_field_tag :view, diff_view
  = hidden_field_tag :line_type
  = note_target_fields(@note)
  = f.hidden_field :commit_id
  = f.hidden_field :line_code
  = f.hidden_field :noteable_id
  = f.hidden_field :noteable_type

  = render layout: 'projects/md_preview', locals: { preview_class: "md-preview", referenced_users: true } do
    = render 'projects/zen', f: f, attr: :note, classes: 'note-textarea js-note-text', placeholder: "撰写评论或拖放文件到此处..."
    = render 'projects/notes/hints'
    .error-alert

  .note-form-actions.clearfix
    = f.submit '评论', class: "btn btn-nr btn-create comment-btn btn-grouped js-comment-button"
    = yield(:note_actions)
    %a.btn.btn-cancel.js-note-discard{role: "button", data: {cancel_text: "取消"}}
      舍弃草稿
