%ul.nav.nav-sidebar
  = nav_link(path: ['root#index', 'projects#trending', 'projects#starred', 'dashboard/projects#index'], html_options: {class: 'home'}) do
    = link_to dashboard_projects_path, title: '项目' do
      = icon('bookmark fw')
      %span
        项目
  = nav_link(controller: :todos) do
    = link_to dashboard_todos_path, title: '待办事项' do
      = icon('bell fw')
      %span
        待办事项
        %span.count.todos-pending-count= number_with_delimiter(todos_pending_count)
  = nav_link(path: 'dashboard#activity') do
    = link_to activity_dashboard_path, class: 'shortcuts-activity', title: '活动' do
      = icon('dashboard fw')
      %span
        活动
  = nav_link(controller: :groups) do
    = link_to dashboard_groups_path, title: '群组' do
      = icon('group fw')
      %span
        群组
  = nav_link(controller: :milestones) do
    = link_to dashboard_milestones_path, title: '里程碑' do
      = icon('clock-o fw')
      %span
        里程碑
  = nav_link(path: 'dashboard#issues') do
    = link_to assigned_issues_dashboard_path, title: '问题', class: 'shortcuts-issues' do
      = icon('exclamation-circle fw')
      %span
        问题
        %span.count= number_with_delimiter(current_user.assigned_issues.opened.count)
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to assigned_mrs_dashboard_path, title: '合并请求', class: 'shortcuts-merge_requests' do
      = icon('tasks fw')
      %span
        合并请求
        %span.count= number_with_delimiter(current_user.assigned_merge_requests.opened.count)
  = nav_link(controller: :snippets) do
    = link_to dashboard_snippets_path, title: '代码片段' do
      = icon('clipboard fw')
      %span
        代码片段
  = nav_link(controller: :help) do
    = link_to help_path, title: '帮助' do
      = icon('question-circle fw')
      %span
        帮助

  %li.separate-item
  = nav_link(controller: :profile) do
    = link_to profile_path, title: '个人资料设置', data: {placement: 'bottom'} do
      = icon('user fw')
      %span
        个人资料设置
