- page_title "SSH 密钥"
- header_title page_title, profile_keys_path

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      SSH 密钥用于在您的电脑和 富友Code 建立安全连接。
  .col-lg-9
    %h5.prepend-top-0
      增加 SSH 密钥
    %p.profile-settings-content
      在增加 SSH 密钥前需要先
      = link_to "生成密钥。", help_page_path("ssh", "README")
    = render 'form'
    %hr
    %h5
      您的 SSH 密钥 (#{@keys.count})
    %div.append-bottom-default
      = render 'key_table'
