- page_title "项目"
- header_title group_title(@group, "项目", projects_group_path(@group))

.panel.panel-default.prepend-top-default
  .panel-heading
    %strong= @group.name
    项目：
    - if can? current_user, :admin_group, @group
      .controls
        = link_to new_project_path(namespace_id: @group.id), class: "btn btn-sm btn-success" do
          = icon('plus')
          新项目
  %ul.well-list
    - @projects.each do |project|
      %li
        .list-item-name
          %span{ class: visibility_level_color(project.visibility_level) }
            = visibility_level_icon(project.visibility_level)
          %strong= link_to project.name_with_namespace, project
        .pull-right
          - if project.archived
            %span.label.label-warning archived
          %span.label.label-gray
            = repository_size(project)
          = link_to '成员', namespace_project_project_members_path(project.namespace, project), id: "edit_#{dom_id(project)}", class: "btn btn-sm"
          = link_to '编辑', edit_namespace_project_path(project.namespace, project), id: "edit_#{dom_id(project)}", class: "btn btn-sm"
          = link_to '删除', project, data: { confirm: remove_project_message(project)}, method: :delete, class: "btn btn-sm btn-remove"
    - if @projects.blank?
      .nothing-here-block 该群组还没有项目

= paginate @projects, theme: "gitlab"
