- page_title       @user.name
- page_description @user.bio
- header_title     @user.name, user_path(@user)
- @no_container = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, user_url(@user, format: :atom), title: "#{@user.name}活动")

.user-profile
  .cover-block
    .cover-controls
      - if @user == current_user
        = link_to profile_path, class: 'btn btn-gray' do
          = icon('pencil')
      - elsif current_user
        %span.report-abuse
          - if @user.abuse_report
            %button.btn.btn-danger{ title: '已被举报',
              data: { toggle: 'tooltip', placement: 'left', container: 'body' }}
              = icon('exclamation-circle')
          - else
            = link_to new_abuse_report_path(user_id: @user.id, ref_url: request.referrer), class: 'btn btn-gray',
              title: '举报违规', data: {toggle: 'tooltip', placement: 'left', container: 'body'} do
              = icon('exclamation-circle')
      - if current_user
        &nbsp;
        = link_to user_path(@user, :atom, { private_token: current_user.private_token }), class: 'btn btn-gray' do
          = icon('rss')

    .avatar-holder
      = link_to avatar_icon(@user, 400), target: '_blank' do
        = image_tag avatar_icon(@user, 90), class: "avatar s90", alt: ''
    .cover-title
      = @user.name

    .cover-desc
      %span.middle-dot-divider
        @#{@user.username}
      %span.middle-dot-divider
        注册时间：#{@user.created_at.to_s(:medium)}

    - if @user.bio.present?
      .cover-desc
        %p.profile-user-bio
          = @user.bio

    .cover-desc
      - unless @user.public_email.blank?
        .profile-link-holder.middle-dot-divider
          = link_to @user.public_email, "mailto:#{@user.public_email}"
      - unless @user.skype.blank?
        .profile-link-holder.middle-dot-divider
          = link_to "skype:#{@user.skype}", title: "Skype" do
            = icon('skype')
      - unless @user.linkedin.blank?
        .profile-link-holder.middle-dot-divider
          = link_to "https://www.linkedin.com/in/#{@user.linkedin}", title: "领英" do
            = icon('linkedin-square')
      - unless @user.twitter.blank?
        .profile-link-holder.middle-dot-divider
          = link_to "https://twitter.com/#{@user.twitter}", title: "推特" do
            = icon('twitter-square')
      - unless @user.website_url.blank?
        .profile-link-holder.middle-dot-divider
          = link_to @user.short_website_url, @user.full_website_url
      - unless @user.location.blank?
        .profile-link-holder.middle-dot-divider
          = icon('map-marker')
          = @user.location

    %ul.nav-links.center.user-profile-nav
      %li.activity-tab
        = link_to user_calendar_activities_path, data: {target: 'div#activity', action: 'activity', toggle: 'tab'} do
          活动
      %li.groups-tab
        = link_to user_groups_path, data: {target: 'div#groups', action: 'groups', toggle: 'tab'} do
          群组
      %li.contributed-tab
        = link_to user_contributed_projects_path, data: {target: 'div#contributed', action: 'contributed', toggle: 'tab'} do
          贡献项目
      %li.projects-tab
        = link_to user_projects_path, data: {target: 'div#projects', action: 'projects', toggle: 'tab'} do
          个人项目

  %div{ class: container_class }
    .tab-content
      #activity.tab-pane
        .gray-content-block.calender-block.white.second-block.hidden-xs
          %div{ class: container_class }
            .user-calendar{data: {href: user_calendar_path}}
              %h4.center.light
                %i.fa.fa-spinner.fa-spin
          .user-calendar-activities

        .content_list{ data: {href: user_path} }
        = spinner

      #groups.tab-pane
        - # This tab is always loaded via AJAX

      #contributed.contributed-projects.tab-pane
        - # This tab is always loaded via AJAX

      #projects.tab-pane
        - # This tab is always loaded via AJAX

    .loading-status
      = spinner

:javascript
  var userProfile;

  userProfile = new User({
    action: "#{controller.action_name}"
  });
