%fieldset.builds-feature
  %legend
    构建：

  - unless @repository.gitlab_ci_yml
    .form-group
      .col-sm-offset-2.col-sm-10
        %p 在使用持续集成前，需要先配置构建。
        = link_to '开始使用构建', help_page_path('ci/quick_start', 'README'), class: 'btn btn-info'
        %hr

  .form-group
    .col-sm-offset-2.col-sm-10
      %p 使用下面的命令来获取程序代码：
      .radio
        = f.label :build_allow_git_fetch_false do
          = f.radio_button :build_allow_git_fetch, 'false'
          %strong git clone
          %br
          %span.descr 比较慢，但可以在每次构建前保证你有一个干净的文件目录
      .radio
        = f.label :build_allow_git_fetch_true do
          = f.radio_button :build_allow_git_fetch, 'true'
          %strong git fetch
          %br
          %span.descr 比较快

  .form-group
    = f.label :build_timeout_in_minutes, '超时', class: 'control-label'
    .col-sm-10
      = f.number_field :build_timeout_in_minutes, class: 'form-control', min: '0'
      %p.help-block 每次构建时间的最大分钟数
  .form-group
    = f.label :build_coverage_regex, "测试覆盖解析", class: 'control-label'
    .col-sm-10
      .input-group
        %span.input-group-addon /
        = f.text_field :build_coverage_regex, class: 'form-control', placeholder: '\(\d+.\d+\%\) covered'
        %span.input-group-addon /
      %p.help-block
        我们将使用此正则表达式在构建信息中查找测试覆盖输出。如果不想使用此功能，请留空
      .bs-callout.bs-callout-info
        %p 下面是现有工具的正则表达式例子：
        %ul
          %li
            Simplecov (Ruby) -
            %code \(\d+.\d+\%\) covered
          %li
            pytest-cov (Python) -
            %code \d+\%\s*$
          %li
            phpunit --coverage-text --colors=never (PHP) -
            %code ^\s*Lines:\s*\d+.\d+\%
          %li
            gcovr (C/C++) -
            %code ^TOTAL.*\s+(\d+\%)$

  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        = f.label :public_builds do
          = f.check_box :public_builds
          %strong 公开构建
        .help-block 允许所有人访问公开和内部项目的构建

  .form-group
    = f.label :runners_token, "Runners 授权", class: 'control-label'
    .col-sm-10
      = f.text_field :runners_token, class: "form-control", placeholder: 'xEeFCaDAB89'
      %p.help-block 此安全授权码将用于检出项目。
