- page_title "标记"
= render "header_title"

.top-area
  .nav-text
    标记可应用于问题和合并请求。
  .nav-controls
    - if can? current_user, :admin_label, @project
      = link_to new_namespace_project_label_path(@project.namespace, @project), class: "btn btn-new" do
        = icon('plus')
        新标记

.labels
  - if @labels.present?
    %ul.content-list.manage-labels-list
      = render @labels
    = paginate @labels, theme: 'gitlab'
  - else
    .nothing-here-block
      - if can? current_user, :admin_label, @project
        创建第一个标记或#{link_to '生成', generate_namespace_project_labels_path(@project.namespace, @project), method: :post}默认标记组
      - else
        没有标记被创建
