- page_title "后台作业"
%h3.page-title 后台作业
%p.light 富友Code 使用 #{link_to "sidekiq", "http://sidekiq.org/"} 库同步作业处理

%hr

.panel.panel-default
  .panel-heading Sidekiq 运行进程
  .panel-body
    - if @sidekiq_processes.empty?
      %h4.cred
        %i.fa.fa-exclamation-triangle
        没有运行的 sidekiq 进程，请重新启动 富友Code
    - else
      .table-holder
        %table.table
          %thead
            %th USER
            %th PID
            %th CPU
            %th MEM
            %th STATE
            %th START
            %th COMMAND
          %tbody
            - @sidekiq_processes.each do |process|
              - next unless process.match(/(sidekiq \d+\.\d+\.\d+.+$)/)
              - data = process.strip.split(' ')
              %tr
                %td= gitlab_config.user
                - 5.times do
                  %td= data.shift
                %td= data.join(' ')

      .clearfix
        %p
          %i.fa.fa-exclamation-circle
          如果显示 '[25 of 25 busy]' 请使用 'sudo service gitlab reload' 重新启动 富友Code。
        %p
          %i.fa.fa-exclamation-circle
          如果列出超过一个 sidekiq 进程，请停止 富友Code，杀死剩余的 sidekiq 进程 (sudo pkill -u #{Settings.gitlab.user} -f sidekiq)，然后重新启动 富友Code。



.panel.panel-default
  %iframe{src: sidekiq_path, width: '100%', height: 970, style: "border: none"}
