%h3 共享的 runners

.bs-callout.bs-callout-warning.shared-runners-description
  - if shared_runners_text.present?
    = markdown(shared_runners_text, pipeline: 'plain_markdown')
  - else
    共享的 runners 会在同样的 runner 上执行不同项目的代码，除非配置好带有 MaxBuilds 1 的 GitLab Runner Autoscale (已在 GitLab.com 上启用)。
  %hr
  - if @project.shared_runners_enabled?
    = link_to toggle_shared_runners_namespace_project_runners_path(@project.namespace, @project), class: 'btn btn-warning', method: :post do
      禁用共享的 runners
  - else
    = link_to toggle_shared_runners_namespace_project_runners_path(@project.namespace, @project), class: 'btn btn-success', method: :post do
      启用共享的 runners
  &nbsp; for this project

- if @shared_runners_count.zero?
  此 GitLab 服务器还没有共享 runner。
  请使用特定的 runner 或请求管理员创建共享的 runner。
- else
  %h4.underlined-title 可用的共享 runners - #{@shared_runners_count}
  %ul.bordered-list.available-shared-runners
    = render partial: 'runner', collection: @shared_runners, as: :runner
  - if @shared_runners_count > 10
    .light
      和 #{@shared_runners_count - 10} 个更多...
